{{> head }}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
                <h1>To-Do's</h1>
                <input id="description-to-do" type="text" class="form-control" placeholder="Add todo">
                <br>
                <button class="btn btn-success" onclick="Todo.addTodo()">Add Todo</button>

                <hr>
                <input type="text" class="form-control" placeholder="Search To-Do...">
                <br>
                <ul id="sortable" class="list-unstyled">
                    <li class="ui-state-default">
                        <row class="row">
                            <div class="col-md-3">
                                <select>
                                    <option>Open</option>
                                    <option>In-Progress</option>
                                    <option>Completed</option>
                                    <option>Archived</option>
                                </select>
                            </div>
                            <div class="col-md-9">
                                Take out the trash
                            </div>
                        </row>
                    </li>
                    <li class="ui-state-default">
                        Buy bread
                    </li>
                    <li class="ui-state-default">
                        Teach penguins to fly
                    </li>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="todolist">
                <h1>Already Complete</h1>
                <ul id="done-items" class="list-unstyled">
                    <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

                </ul>
            </div>
        </div>
    </div>
</div>

{{> footer }}