{{> head }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome <span id="user-name"></span>!</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="Api.logout()">Logout</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
                <h1>To-Do's</h1>
                <div class="row">
                    <div class="col-md-6">
                        <input id="description-to-do" type="text" class="form-control" placeholder="Add todo">
                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option value="">Select an user...</option>
                        </select>
                    </div>
                </div>

                <br>
                <button class="btn btn-success" onclick="Todo.addTodo()">Add Todo</button>

                <hr>
                <input type="text" class="form-control" placeholder="Search To-Do...">
                <br>
                <ul id="sortable" class="list-unstyled">
                    <li class="ui-state-default">
                        <row class="row">
                            <div class="col-md-3">
                                <select>
                                    <option>Open</option>
                                    <option>In-Progress</option>
                                    <option>Completed</option>
                                    <option>Archived</option>
                                </select>
                            </div>
                            <div class="col-md-9">
                                Take out the trash
                            </div>
                        </row>
                    </li>
                    <li class="ui-state-default">
                        Buy bread
                    </li>
                    <li class="ui-state-default">
                        Teach penguins to fly
                    </li>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="todolist">
                <h1>Already Complete</h1>
                <ul id="done-items" class="list-unstyled">
                    <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

                </ul>
            </div>
        </div>
    </div>
</div>

{{> scripts }}

<script src="assets/js/app/to-do.js"></script>
<script>
    Api.securityLogin();
    Api.Todo.loadData();
    Api.loadData();
</script>

{{> footer }}