{{> head }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome <span id="user-name"></span>!</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="Api.logout()">Logout</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="todolist not-done">
                <h1>To-Do's</h1>
                <div class="row">
                    <div class="col-md-6">
                        <input id="description-to-do" type="text" class="form-control" placeholder="Add to-do...">
                    </div>
                    <div class="col-md-4">
                        <select id="select-users" class="form-control">
                            <option value="">Select an user...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="select-status" class="form-control select-status">
                            <option value="">Select status...</option>
                        </select>
                    </div>
                </div>

                <br>
                <button class="btn btn-info" onclick="Api.Todo.addTodo()">Add Todo</button>
                <br><br>
                <div id="message" align="center"></div>
                <hr>
                <input type="text" class="form-control" placeholder="Search To-Do..." onkeyup="Api.Todo.showTable(this.value)">
                <br>
                <table class="table table-striped table-bordered" id="table-to-do">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td width="20%">Doe</td>
                        <td width="20%">john@example.com</td>
                        <td align="center" width="5%">
                            <button class="btn btn-danger" onclick="">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> scripts }}

<script src="assets/js/app/to-do.js"></script>
<script src="assets/js/app/user.js"></script>
<script src="assets/js/app/status.js"></script>
<script>
    Api.securityLogin();
    Api.Todo.loadData();
    Api.loadData();
</script>

{{> footer }}